.bg-accent {
  background-color: #72716b !important;
}

.clickable-div {
  cursor: pointer;
}

.custom-width {
  width: 100%;
}



#bootstrap-overrides .bg-primary {
  background-color: #5E8116 !important;
}

#bootstrap-overrides .bg-secondary {
  background-color: #95a870 !important;
}

#bootstrap-overrides .btn-primary {
  background-color: #5E8116 !important;
}

@media (min-width: 992px) {
  .custom-width {
    width: 40%;
  }
}